.strength-bar {
    height: 5px;
    width: 15%;
    margin-right: 10px;
    transition: background-color 0.5s ease;
    display: flex;
    align-self: center;
  }

  .PasswordStrengthMeter {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }